:root {
    /* background color site */
    --light-background-color: #ffffff;
    --medium-background-color: #3399cc;
    --dark-background-color: #2b81ac;

    /* background color city */
    --light-blue-color: #3399cc;
    --dark-blue-color: #666699;
    --light-turquoise-color: #33cccc;
    --dark-turquoise-color: #669999;
    --light-red-color: #e2674a;
    --dark-red-color: #c24747;
    --light-purple-color: #cc6699;
    --dark-purple-color: #996699;
    --light-green-color: #99cc99;
    --dark-green-color: #339966;
    --light-orange-color: #ffcc66;

    /* text color site */
    --light-text-color: #ffffff;
    --light-text-color-70: rgba(255, 255, 255, 0.7);

    /* star color site */
    --icon-color: #ffffff;
    --icon-color-70: rgba(255, 255, 255, 0.7);
}

/* Lucida Sans Unicode Regular */
@font-face {
    font-family: "Lucida Sans Unicode Regular";
    src: url("../font/Lucida-Sans-Unicode-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* base styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0 auto;
    color: var(--light-text-color);
    background: linear-gradient(
            var(--light-blue-color) 0%,
            rgba(51, 153, 204, 0.8) 30%,
            rgba(51, 153, 204, 0.5) 50%,
            rgba(51, 153, 204, 0.8) 70%,
            var(--light-blue-color) 100%
        ),
        url("../images/background.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 25px solid var(--dark-background-color);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Lucida Sans Unicode", "Arial", sans-serif;
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    padding: 0;
    cursor: pointer;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}

.header {
    display: flex;
    gap: 4px;
}
.title {
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    color: var(--light-text-color);
}
.wi-sunrise {
    font-size: 34px;
}
.list {
    width: 100%;
    background-color: var(--light-background-color);
    color: var(--light-text-color);
    font-size: 22px;
    border: 2px solid var(--light-background-color);
    cursor: pointer;
}
.list-item {
    border: 2px solid var(--light-background-color);
    display: inline-block;
    text-align: center;
    padding: 26px 0;
    transition: all 0.1s ease-in;
}
.list-item:hover {
    opacity: 0.8;
}
.list-item--first {
    background-color: var(--light-blue-color);
    width: 50%;
    margin-right: -4px;
}
.list-item--second {
    background-color: var(--light-turquoise-color);
    width: 25%;
    margin-right: -4px;
    margin-left: -2px;
}
.list-item--third {
    background-color: var(--dark-purple-color);
    width: 25%;
    margin-right: -2px;
    margin-left: -3px;
}
.list-item--fourth {
    background-color: var(--dark-red-color);
    width: 25%;
    margin-right: -4px;
}
.list-item--fifth {
    background-color: var(--light-red-color);
    width: 25%;
    margin-right: -4px;
    margin-left: -2px;
}
.list-item--sixth {
    background-color: var(--light-orange-color);
    width: 25%;
    margin-right: -3px;
    margin-left: -3px;
}
.list-item--seventh {
    background-color: var(--light-green-color);
    width: 25%;
    margin-right: -3px;
    margin-left: -4px;
}
.list-item--eighth {
    background-color: var(--dark-turquoise-color);
    width: 25%;
    margin-right: -4px;
}
.list-item--ninth {
    background-color: var(--light-purple-color);
    width: 50%;
    margin-right: -4px;
    margin-left: -2px;
}
.list-item--tenth {
    background-color: var(--dark-green-color);
    width: 25%;
    margin-right: -3px;
    margin-left: -3px;
}
.list-item--eleventh {
    background-color: var(--dark-blue-color);
    width: 100%;
}
.list-item i {
    font-size: 42px;
    color: var(--icon-color-70);
}
.list-item p {
    color: var(--light-text-color-70);
}
.list-item-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
